<div class="container pt-5">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-8">
      <h1>Add a new Question:</h1>
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-2">
      <label>Question Title:</label>
    </div>
    <div class="col-5 input-group">
      {{input type="text" class="input-text" placeholder="This is a new question, enter title here" value=question.title}}
    </div>
    <div class="col-5">
      {{markdown-to-html question.title extensions='katex'}}
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-2">
      <label>Question Description:</label>
    </div>
    <div class="col-5 input-group">
      {{textarea type="text" class="input-text py-4" placeholder="Edit this description" value=question.description}}
    </div>
    <div class="col-5">
      {{markdown-to-html question.description extensions='katex'}}
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-2">
      <label>Question Explanation:</label>
    </div>
    <div class="col-5 input-group">
      {{textarea type="text" class="input-text py-4" placeholder="Edit this explanation" value=question.explanation}}
    </div>
    <div class="col-5">
      {{markdown-to-html question.explanation extensions='katex'}}
    </div>
  </div>

  {{#unless question.isNew}}

    <div class="button-dashed add-choice">
      <a>
        <button {{action 'addChoice'}}>Add Choice</button>
      </a>
    </div>
    <ul>
      {{#each question.choices as |choice|}}
        <li class="justify-content-center">
          {{choice-editor
            choice=choice
            isCorrect=(includes correctChoices choice.id)
            onFlagChange=(action 'markChoice')
            isNew=true
          }}
        </li>
      {{/each}}
    </ul>

    <div class="row">
      <div class="col-2">
        <label>Tags</label>
      </div>
      <div class="col-6">
        {{#power-select-multiple
        search=(perform tagsFilterTask)
        selected=question.tags
        placeholder="Add tags for this question"
        onchange=(action (mut question.tags ))
        as |tag|}}
          {{tag.title}}
        {{/power-select-multiple}}
      </div>
    </div>
    <div class="row"></div>
    <div class="row justify-content-center align-items-center">
      <div class="col-2">
        <label>Create New Tag: </label>
      </div>
      <div class="col-5 input-group">
        {{input type="text" class="input-text" placeholder="Enter Tag's Title" value=tagTitle}}
      </div>
      <div class="col-5">
        <span {{action 'createNewTag'}}>
        Save
        <i class="far fa-save"></i>
      </span></div>
    </div>
    Created By: <mark>{{question.user.firstname}}</mark>

  {{/unless}}


  <div class="row">
    <div class="col-5"></div>
    <div class="col-7">
      <div class="button-solid">
        <a class="white">
          <button {{action 'saveQuestion'}}>
            Save Question
          </button>
        </a>
      </div>
    </div>
  </div>

</div>