<div class="container">
  <div class="row">
    <div class="button-solid">
      {{#link-to 'questions.new' class="white"}}
        <button>+ Add Question</button>
      {{/link-to}}
    </div>
    {{input type="text" class="form-control" placeholder="Filter By Question Name" key-up=(perform searchTask) value=searchString}}
  </div>
  {{#each questions as |question|}}
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Q#{{question.id}}: {{question.title}}</h5>
        <p class="card-text">
          {{question.description}}
        </p>
        <div class="button-solid">
          {{#link-to 'questions.id' question.id class="white"}}
            <button>Edit</button>
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{outlet}}