<div class="container mt-5">
  <div class="row justify-content-center red">
    <h2>Search Questions</h2>
  </div>
  <div class="row">
    <div class="input-search nav-search mx-auto col-10">
      {{input type="text" placeholder="Search Keyword" key-up=(perform searchTask) value=searchString}}
      <img src="http://online.codingblocks.com/images/searchicon-06d8faf96de7c883b5440b6594e39eda.png" alt="search">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="button-solid mw-100">
      {{#link-to 'questions.new' class="white"}}
        <button>Add Question</button>
      {{/link-to}}
    </div>
  </div>
  {{#each questions as |question|}}
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Q.{{question.id}}:</h3>
          <p class="card-title"><h1>{{question.title}}</h1></p>
          <p class="card-text">
            {{question.description}}
          </p>
          <div class="row justify-content-end mt-4">
            <div class="grey mx-2">
              {{#confirm-dialog dialogClass="custom-confirm-dialog" title="Delete Question" text="Are you sure you want to delete this
              question?"}}
                <button {{action "deleteQuestion" question}}><i class="fa fa-trash" aria-hidden="true"></i>  Delete</button>
              {{/confirm-dialog}}
            </div>
            <div class="button-dashed mx-2">
              {{#link-to 'questions.id' question.id class="white"}}
                <button class="red"><i class="fa fa-edit" aria-hidden="true"></i>  Edit</button>
              {{/link-to}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  <!-- </div> -->
</div>
{{outlet}}