<div class="container pt-5">
  <div class="row justify-content-center mb-5 red">
    <h1>Add a New Quiz</h1>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-2">
      <label>Title</label>
    </div>
    <div class="col-10">
      {{input type="text" class="input-text" value=quiz.title}}
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-2">
      <label>Description</label>
    </div>
    <div class="col-10">
      {{textarea type="text" class="input-text py-4" value=quiz.description}}
    </div>
  </div>
  {{#unless quiz.isNew}}
    <div class="row justify-content-center align-items-center">
      <div class="col-2">
        <label>Questions</label>
      </div>
      <div class="col-10">
        {{#power-select-multiple
          search=(perform questionFilterTask) 
          selected=quiz.questions
          onchange=(action (mut quiz.questions )) 
          as |question|}}
            {{question.title}}
        {{/power-select-multiple}}
      </div>
    </div>
   {{/unless}}

  <div class="row justify-content-center align-items-center">
    <div class="col-2">
      <label>Image Url:</label>
    </div>
    <div class="col-10">
      {{input type="text" class="input-text" value=quiz.image}}
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-2 justify-content-center align-items-center">
      <label>Duration </label>
    </div>
    <div class="col-10">
      {{input type="text" class="input-text" value=quiz.duration}}
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-2">
      <label>Max Attempts</label>
    </div>
    <div class="col-10">
      {{input type="text" class="input-text" value=quiz.maxAttempts}}
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-2">
      <label>Start Date</label>
    </div>
    <div class="col-10">
      {{ember-datetime-picker className='input-text' value=startDateMoment }}
      {{!-- {{input type="text" value=quiz.startDate}} --}}
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-2">
      <label>End Date</label>
    </div>
    <div class="col-10">
      {{ember-datetime-picker className='input-text' value=endDateMoment }}

      {{!-- {{input type="text" value=quiz.endDate}} --}}
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="button-dashed">
      <button {{action 'save'}}>Create Quiz</button>
    </div>
  </div>
</div>

