<div class="container">
  <div>
    <div class="button-solid">
      {{#link-to 'quiz.new' class="white"}}
        <button>+ Add Quiz</button>
      {{/link-to}}
    </div>
    <br>
    <div class="row justify-content-center">
      <p class="card-title">Filter By Quiz Title:   </p> {{input type="text" class="form-control" placeholder="Enter Question Name" key-up=(perform searchTask) value=searchString}}
    </div>
    </div>
  {{#each quizzes as |quiz|}}
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Quiz#{{quiz.id}}: {{quiz.title}}</h5>
        <p class="card-text">
          {{quiz.description}}
        </p>
        <div class="button-solid">
          {{#confirm-dialog
            dialogClass="custom-confirm-dialog"
            title="Delete Question"
            text="Are you sure you want to delete this question?"}}
            <button {{action "deleteQuiz" quiz}}>Delete</button>
          {{/confirm-dialog}}
        </div>
        <div class="button-solid">
          {{#link-to 'quiz.id' quiz.id class="white"}}
            <button>Edit</button>
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{outlet}}