<div class="row {{if isCorrect 'correct'}}">
  <div class="col-8">
    {{#if isEditing}}
      <div class="row justify-content-center align-items-center">
        <div class="col-2">
          <label>Choice Title:</label>
        </div>
        <div class="col-5 input-group">
          <h3> {{input type="text" class="input-text" placeholder= "Enter the choice title" value=choice.title}} </h3>
        </div>
        <div class="col-5">
          {{markdown-to-html choice.title}}
        </div>
      </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-2">
        <label>Choice Description:</label>
      </div>
      <div class="col-5 input-group">
        <p>
          {{textarea type="text" class="input-text py-4" placeholder="Enter the choice description" value=choice.description}}
        </p>
      </div>
      <div class="col-5">
        {{markdown-to-html choice.description}}
      </div>
    </div>
    {{else}}
      <h3>{{choice.title}}</h3>
      <p>
        {{choice.description}}
      </p>
    {{/if}}
  </div>
  <div class="col-4 choice-actions">
    {{#if isEditing}}
    <span {{action 'saveChoice'}}>
        Save
        <i class="far fa-save"></i>
      </span>
    {{else}}
      <span {{action 'toggleEditing'}}>
        Edit
        <i class="far fa-edit"></i>
      </span>
    {{/if}}

    {{#if isCorrect}}
      <span {{action 'markAsIncorrect'}}>
        <i class="far fa-times-circle"></i>
        Mark as Incorrect
      </span>
    {{else}}
      <span {{action 'markAsCorrect'}}>
        <i class="far fa-check-circle"></i>
        Mark as Correct
      </span>
    {{/if}}

    <span {{action 'deleteChoice'}}>
      Delete
      <i class="far fa-trash-alt"></i>
    </span>
  </div>

</div>

{{yield}}